# inventory.tmpl
[webservers]
%{ for ip in web_ips ~}
web-${ip.index + 1} ansible_host=${ip.address} fqdn=${ip.fqdn}
%{ endfor ~}

[databases]
%{ for db in db_ips ~}
${db.name} ansible_host=${db.address} fqdn=${db.fqdn}
%{ endfor ~}

[storage]
%{ for storage in storage_ips ~}
storage ansible_host=${storage.address} fqdn=${storage.fqdn}
%{ endfor ~}